---
import LinkButton from './LinkButton.astro';
import Www from './icons/Www.astro';
import Youtube from './icons/Youtube.astro';

interface Props {
  title: string;
  description: string;
  link?: string;
  video?: string;
  date: string;
}

const { title, description, link, video, date } = Astro.props;
---

<div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"></div>
<time class="mb-1 text-sm font-normal leading-none text-sky-800 dark:text-sky-200/80">{date}</time>
<h3 class="text-lg font-semibold text-primary-200 mt-2">
  {title}
</h3>
<p class="mb-2 text-base font-normal dark:text-white/95 text-pretty">
  {description}
</p>
<slot />
<div class="flex gap-x-4">
  {
    link && (
      <>
        <LinkButton href={link}>
          <Www />
          Ir al sitio web
        </LinkButton>
      </>
    )
  }
  {
    video && (
      <>
        <LinkButton href={video}>
          <Youtube />
          Ver video presentación
        </LinkButton>
      </>
    )
  }
</div>
